/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

svg {
  font: 10px sans-serif;
  display: block;
}

div.div_Header {
  width: 100%;
  border:2px solid White;
  border-radius:7px;
  background: WhiteSmoke;
  font: bold 14px Arial;
  font-family:Arial, Helvetica, sans-serif;
  color:WhiteSmoke;
  text-align:center;
}
h1.h1_BodyHeader {
  text-align:center;
  font: bold 1.5em Arial;
}
h2.h2_LeftMenuHeader {
  text-align:center;
  font: bold 1.2em Arial;
}
h3.h3_Body {
  text-align:center;
}
p.p_Red {
  color:Red;
}
table.table_Header {
  width: 100%;
  text-align:center;
}
td.td_HeaderLeft {
  text-align:left;
}
td.td_HeaderRight {
  text-align:right;
}
div.div_Menu {
  width: 100%;
  border:2px solid White;
  border-radius:7px;
  background: MidnightBlue;
  font: bold 14px Arial;
  font-family:Arial, Helvetica, sans-serif;
  color:White;
  text-align:center;
}
p.p_Left {
  font-family:Arial, Helvetica, sans-serif;
  color:Black;
  text-align:left;
  padding-left: 5px;
  font: normal 14px Arial;
}
table.table_Body {
  width: 100%;
  height: 100%;
  padding: 0;
}
td.td_BodyLeft {
  width: 250px;
  height: 100%;
  padding: 0;
}
li.li_LeftMenu {
  text-align:left;
  font: normal 14px Arial;
}
a.a_LeftMenuNoUnderLine {
  text-decoration:  none;
}
div.div_Body {
  height: 100%;
  width: 100%;
  position: relative;
  border:2px solid White;
  border-radius:7px;
  background: WhiteSmoke;
  font: bold 14px Arial;
  font-family:Arial, Helvetica, sans-serif;
  color:Black;
  text-align:center;
}
div.div_Footer {
  width: 100%;
  border:2px solid White;
  border-radius:7px;
  background: MidnightBlue;
  font: bold 14px Arial;
  font-family:Arial, Helvetica, sans-serif;
  color:White;
  text-align:center;
}
p.p_if4itMessage {
  width: 100%;
  background: White;
  font: bold .75em Arial;
  font-family:Arial, Helvetica, sans-serif;
  color:GoldenRod;
  text-align:center;
}
.menuButton{
  background-color: MidnightBlue;
}
.menuButton li{
  height: 100%;
  list-style: none;
  display: inline;
}
.menuButton li a{
  height: 100%;
  padding: 3px 0.5em;
  text-decoration: none;
  color: White;
  background-color: MidnightBlue;
  border: 2px solid MidnightBlue;
}
.menuButton li a:hover{
  height: 100%;
  color: MidnightBlue;
  background-color: White;
  border-style: outset;
  background-color: White;
}
.menuButton li a:active{
  height: 100%;
  border-style: inset;
  color: MidnightBlue;
  background-color: White;
}
.menuButton li a.disabled{
  height: 100%;
  padding: 3px 0.5em;
  text-decoration: none;
  color: MidnightBlue;
  background-color: White;
  border: 2px solid MidnightBlue;
  border-style: inset;
  border-color: White;
}

div.div_RootBody {
  position: relative;
  border:2px solid White;
  border-radius:7px;
  background: WhiteSmoke;
  font: normal 14px Arial;
  font-family:Arial, Helvetica, sans-serif;
  color:Black;
  padding: 0px 1em;
  text-align:left;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;

}

body {
  background: #FFFFFF;
  background-repeat:repeat-x;
  text-align: center;
  font: 10px sans-serif;
}

.dot {

  stroke-width: 1.5px;
}

.dot-selected {
  fill: #B0C4DE;
  stroke: #B0C4DE;
  stroke-width: 1.5px;
}

.metrics-container {
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 1px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/