h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
/*
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
*/
/*nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 3px 0;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  color: black;
  text-transform: uppercase;
  margin: 0 10px;
}

!*nav ul li a,*!
!*nav ul li a:after,*!
!*nav ul li a:before {*!
  !*transition: all .5s;*!
!*}*!
nav ul li a:hover {
  color: #555;
}

nav.fill ul li a {

}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
  color:blue;
}
nav.fill ul li a:hover {
  color: #1c94c4;
  z-index: 1;
}
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}*/
/*
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

*/

/*
!* NAVIGATION *!
nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 2px;
  box-shadow: 0px 2px 0px;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  color: white;
}
nav ul li a {
  display: block;
  padding: 15px;
  color: black;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li:hover {
  color:#1c94c4;
}

nav ul:active {
  color: #0000AA;
}
*/

.cbp-hrmenu {
  width: 100%;
  margin-top: 2em;
  border-bottom: 4px solid #47a3da;
}

/* general ul style */
.cbp-hrmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1.875em;
}

.cbp-hrmenu > ul > li {
  display: inline-block;
}

.cbp-hrmenu > ul > li > a {
  font-weight: 700;
  padding: 1em 2em;
  color: black;
  display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
  color: #47a3da;
}

.cbp-hrmenu > ul > li > a.active {
  color:white;
  background-color:#47a3da;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li > a:hover {
  color: #fff;
  background: #47a3da;
}


.cbp-hropen {
  display: block;
  padding-bottom: 3em;
}

.cbp-hrmenu > div {
  width: 33%;
  float: left;
  padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
  content: " ";
  display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
  clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
  line-height: 2em;
}

